body {
 background:#F0FFF0 url(images/bg.png) repeat-x; 
}
#wrap {
  width:700px;
  margin:0px auto 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#F08080;
}
/* header */
#header {
  height:242px;
  background:url(images/header.png) no-repeat center top;
  clear:both;
}

#topbar {
 height:50px;
}

/* header menu */
#topmenu {
 display:block;
 list-style:none;
 padding:0px 0px 0px 278px;
 float:left;
 width:415px;
}
#topmenu li {
 display:inline;
}
#topmenu a {
 display:block;
 float:left;
 height:28px;
 margin:0px 0px 0px 0px;
 text-decoration:none;
 padding:9px 15px 0px 15px;
 text-align:center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
 color:#000000;
}
#topmenu a:hover {
 color:#000000;
 background-color:#FFFFFF;
 text-decoration:underline;
}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active {
 color:#000000;
 background-color:#FFFFFF;
}

/* content */
#content {
 background-color:#FFFFFF;
}
#mainpage {
 width:700px;
 float:left;
 padding:5px 5px 5px 0px;
 height:auto;
}
#mainpage p {
 line-height:25px;
 margin:10px 0px 25px 0px;
 text-align:justify;
}
#mainpage blockquote {
 background:#efefef;
 display:block;
 margin:5px;
 font:Georgia, "Times New Roman", Times, serif;
 font-style:oblique;
}
h1, h2, h3 {
 color:#A52A2A;
 font-weight:bold;
 font-family: Arial, Helvetica, sans-serif;
}
#mainpage h1 {
 font-size:24px;
 color:#FFF8DC;
}
#mainpage h2 {
 font-size:20px;
}
#mainpage h3 {
 font-size:16px;
}
